<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Is it Prime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3099B9D41CBF75CF002AECBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3099B9E81CBF75D0002AECBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3099B9F31CBF75D0002AECBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
